In [122]:
driver.get("https://www.naukri.com/")

In [124]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [125]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [127]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [129]:
job_title=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [143]:
job_location = []
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [144]:
company_name=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [145]:
experience_required=[]
experience_tags=driver.find_elements(By.XPATH,'//div[@class="ellipsis job-description"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [146]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [148]:
import pandas as pd 
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Companyname':company_name,'Experience':experience})

,Title,Location,Companyname,Experience
0,Data Analyst,Bangalore/Bengaluru,Target,BTech / BE or Masters in Statistics Based on t...
1,Tech Data Analyst,"Hybrid - Gurgaon/ Gurugram, Haryana, Bangalore...",Wipro,Experience with Business Requirements definiti...
2,Data Analyst,"Bangalore/ Bengaluru, Karnataka",Artech,"Review existing documents, replicate the busin..."
3,Data Analyst,Bangalore/Bengaluru,Brunel,"Responsible for importing, cleansing, validati..."
4,Celonis & Salesforce Data Analyst,"Chennai, Bangalore/Bengaluru",Hitachi Energy,Your background: . A minimum of 2 years workin...
5,Celonis & Salesforce Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,Your background: . A minimum of 2 years workin...
6,Data Analyst,Hybrid - Bangalore/Bengaluru,HARMAN,Analytical ability - Must have a clear underst...
7,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,Bachelors degree or equivalent work experience...
8,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,Bachelors degree or equivalent work experience...
9,Data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Tata Consultancy Services (TCS),Roles and Responsibilities Desired Candidate P...

In [149]:
driver.get("https://www.naukri.com/")

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\manjit\manav\lib\site-packages (4.9.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\manjit\manav\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\manjit\manav\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\manjit\manav\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\manjit\manav\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: idna in c:\users\manjit\manav\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\manjit\manav\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\manjit\manav\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\manjit\manav\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\manjit\manav\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\manjit\manav\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\manjit\manav\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\manjit\manav\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\manjit\manav\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\manjit\manav\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\manjit\manav\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\manjit\manav\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By 
import time

In [14]:
driver=webdriver.Chrome(r"Chromrdriver.exe")

In [15]:
driver.get("https://www.naukri.com/")

In [16]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [17]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [18]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [19]:
job_title=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [20]:
job_location = []
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [21]:
company_name=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [24]:
experience_required=[]
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [25]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [26]:
import pandas as pd 
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Companyname':company_name,'Experience':experience})
df

,Title,Location,Companyname,Experience
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Deloitte,5-7 Yrs
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,5-7 Yrs
2,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent,5-7 Yrs
3,Staff Data Scientist,Bangalore/Bengaluru,Walmart,5-7 Yrs
4,Data Scientist,"Bangalore/ Bengaluru, Karnataka",Tata Consultancy Services (TCS),5-7 Yrs
5,Hiring For Data Scientist,"Hybrid - Hyderabad/ Secunderabad, Telangana, C...",Tata Consultancy Services (TCS),5-7 Yrs
6,Data Scientist,"Hybrid - Pune, Bangalore/Bengaluru, Delhi / NC...",Infogain,5-7 Yrs
7,Director/Senior Director - Data Science,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Axtria India,5-7 Yrs
8,Manager/Senior Manager - Data Science,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Axtria India,5-7 Yrs
9,Data Scientist,Bangalore/Bengaluru,Ericsson,5-7 Yrs

In [32]:
job_locations = []
locations_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft filterLabel"]')
for i in locations_tags[0:10]:
    locations=i.text
    job_locations.append(locations)

In [29]:
salary_range= []
salary_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft filterLabel"]')
for i in salary_tags[0:10]:
    salary=i.text
    salary_range.append(salary)

In [33]:
print(len(job_title),len(job_locations),len(company_name),len(experience_required),len(salary_range))

10 10 10 10 10

In [31]:
import pandas as pd 
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Companyname':company_name,'Experience':experience})
df

,Title,Location,Companyname,Experience
0,Permanent Opportunity - Data Scientist(Snaplog...,Data Scientist,Deloitte,5-7 Yrs
1,Analystics & Modeling Specialist,Back End Developer,Accenture,5-7 Yrs
2,Machine Learning (AI) Architect,Software Development - Other,Persistent,5-7 Yrs
3,Staff Data Scientist,Full Stack Developer,Walmart,5-7 Yrs
4,Data Scientist,Work from office,Tata Consultancy Services (TCS),5-7 Yrs
5,Hiring For Data Scientist,Hybrid,Tata Consultancy Services (TCS),5-7 Yrs
6,Data Scientist,Remote,Infogain,5-7 Yrs
7,Director/Senior Director - Data Science,Temp. WFH due to covid,Axtria India,5-7 Yrs
8,Manager/Senior Manager - Data Science,Data Science & Analytics,Axtria India,5-7 Yrs
9,Data Scientist,0-3 Lakhs,Ericsson,5-7 Yrs

In [34]:
driver=webdriver.Chrome(r"Chromrdriver.exe")

In [35]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11+&store=tyy%2F4io&srno=s_1_4&otracker=search&otracker1=search&fm=organic&iid=d344827e-d520-4b4f-b9bd-558e127e00b7.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=iyq9flhi0g0000001685864274517&qH=23d75d0a7b053b2c")

In [50]:
rating_count=[]
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:10]:
    rating=i.text
    rating_count.append(rating)

In [51]:
review_summary=[]
review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tags[0:10]:
    review=i.text
    review_summary.append(review)

In [52]:
full_review=[]
freview_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in freview_tags[0:10]:
    freview=i.text
    full_review.append(freview)

In [61]:
rating_count=[]
start=0
end=4
for page in range(start,end):
    rating=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    for i in rating
    rating_count.append(i.text)
    next_button driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

SyntaxError: expected ':' (17384865.py, line 6)

In [53]:
print(len(rating_count),len(review_summary),len(full_review))

10 10 10

In [54]:
import pandas as pd 
df=pd.DataFrame({'Rating':rating_count,'ReviewS':review_summary,'ReviewF':full_review})
df

,Rating,ReviewS,ReviewF
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,,,
4,,,
5,,,
6,,,
7,,,
8,,,
9,,,

In [62]:
driver=webdriver.Chrome(r"Chromrdriver.exe")

In [63]:
driver.get("https://www.flipkart.com/search?q=sneaker&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

In [82]:
brand_name=[]
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:3]:
    brand=i.text
    brand_name.append(brand)

In [86]:
product_description=[]
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:3]:
    descripton=i.text
    product_description.append(brand)

In [90]:
product_price=[]
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:3]:
    price=i.text
    product_price.append(price)

In [91]:
print(len(brand_name),len(product_description),len(product_price))

3 3 3

In [92]:
import pandas as pd 
df=pd.DataFrame({'Brand':brand_name,'ProductDescription':product_description,'Price':product_price})
df

          Brand ProductDescription Price
0  K- FOOTLANCE              BIRDE  ₹549
1      RapidBox              BIRDE  ₹549
2         BIRDE              BIRDE  ₹479

In [93]:
driver=webdriver.Chrome(r"Chromrdriver.exe")

In [94]:
driver.get("https://www.amazon.in/s?k=laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&ds=v1%3AC0o7qV8zLmMJ%2B6%2FkZFl2hZzN0F2zgxnTLrRUL6nomIs&crid=2YJ4R2MQ6CQEK&qid=1685880767&rnid=12598141031&sprefix=laptop%2Caps%2C268&ref=sr_nr_p_n_feature_thirteen_browse-bin_13")

In [97]:
laptop_title=[]
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title=i.text
    laptop_title.append(title)

In [111]:
rating_count=[]
rating_tags=driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in rating_tags[0:10]:
    rating=i.text
    rating_count.append(rating)

In [112]:
laptop_price=[]
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    laptop_price.append(price)

In [113]:
print(len(laptop_title),len(rating_count),len(laptop_price))

10 10 10

In [114]:
import pandas as pd 
df=pd.DataFrame({'Title':laptop_title,'Rating':rating_count,'Price':laptop_price})
df

                                               Title Rating     Price
0  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...           98,990
1  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...           70,990
2  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...           79,990
3  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...         1,15,990
4  HP Envy x360 12th Gen Intel Core i7-13.3 inch(...         1,03,990
5  HP Victus Gaming Latest 12th Gen Intel Core i7...           90,990
6  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...         1,03,990
7  Acer Predator Helios Neo 16 Gaming Laptop 13th...         1,49,990
8  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...           84,999
9  MSI Thin GF63, Intel 12th Gen. i7-12650H, 40CM...           94,990

In [115]:
driver=webdriver.Chrome(r"Chromrdriver.exe")

In [116]:
driver.get("https://www.azquotes.com/top_quotes.html")

In [117]:
top_quotes=[]
quotes_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quotes_tags[0:1000]:
    quotes=i.text
    top_quotes.append(quotes)

In [118]:
author_name=[]
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:1000]:
    author=i.text
    author_name.append(author)

In [119]:
quotes_types=[]
qtypes_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in qtypes_tags[0:1000]:
    qtypes=i.text
    quotes_types.append(qtypes)

In [121]:
print(len(top_quotes),len(author_name),len(quotes_types))

100 100 100

In [122]:
import pandas as pd 
df=pd.DataFrame({'Quotes':top_quotes,'Author':author_name,'TypesOfQuotes':quotes_types})
df

,Quotes,Author,TypesOfQuotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [123]:
driver=webdriver.Chrome(r"Chromrdriver.exe")

In [124]:
driver.get("https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1")

In [ ]:
pm_names=[]
pnames_tags=driver.find_elements(By.XPATH,'//div[@class=""]')
for i in pnames_tags[0:1000]:
    pnames=i.text
    pm_names.append(pnames)

In [125]:
driver=webdriver.Chrome(r"Chromrdriver.exe")

In [126]:
driver.get("https://www.motor1.com/features/308149/most-expensive-new-cars-ever/")

In [131]:
car_names=[]
names_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in names_tags[0:50]:
    names=i.text
    car_names.append(names)

In [129]:
car_details=[]
details_tags=driver.find_elements(By.XPATH,'//a[@class="/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[5]"]')
for i in details_tags[0:10]:
    details=i.text
    car_details.append(details)

In [132]:
print(len(car_names))

50

In [133]:
import pandas as pd 
df=pd.DataFrame({'CarNames':car_names})
df

                           CarNames
0                     De Tomaso P72
1                 Ferrari LaFerrari
2                     Pagani Huayra
3                      McLaren Elva
4                       Czinger 21C
5                     Ferrari Monza
6                Gordon Murray T.33
7                 Koenigsegg Gemera
8                       Zenvo TSR-S
9                Hennessey Venom F5
10                  Bentley Bacalar
11    Hispano Suiza Carmen Boulogne
12           Bentley Mulliner Batur
13                     Deus Vayanne
14                      SSC Tuatara
15                      Lotus Evija
16              Aston Martin Vulcan
17                       Delage D12
18                McLaren Speedtail
19                     Rimac Nevera
20                    Pagani Utopia
21             Pininfarina Battista
22                Ferrari FXX K Evo
23               Gordon Murray T.50
24             Lamborghini Countach
25         Mercedes-AMG Project One
26              Aston Martin Victor
27      Hennessey Venom F5 Roadster
28                 Koenigsegg Jesko
29            Aston Martin Valkyrie
30        W Motors Lykan Hypersport
31                    McLaren Solus
32        Pagani Huayra Roadster BC
33         Bugatti Chiron Pur Sport
34                 Lamborghini Sian
35                 Koenigsegg CC850
36  Bugatti Chiron Super Sport 300+
37               Lamborghini Veneno
38                   Bugatti Bolide
39                  Bugatti Mistral
40              Pagani Huayra Imola
41                     Bugatti Divo
42              SP Automotive Chaos
43                 Pagani Codalunga
44         Mercedes-Maybach Exelero
45               Bugatti Centodieci
46          Bugatti Chiron Profilée
47             Rolls-Royce Sweptail
48         Bugatti La Voiture Noire
49           Rolls-Royce Boat Tail*